html{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
body {
    background-color: #F6F6F6;;
    width: 100%;
    height: 100%;
    /*margin: 0px;*/
    padding: 0px;
    margin: 0px;
}
/*.player{*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/
.header{
    position: absolute;
    background-color: #FFFFFF;
    width: 100%;
    justify-content: space-between;
    display: flex;
    height: 80px;
    box-shadow: 0px 1px 10px 0px #D1D1D180;
}
.logo-big3 {
    display: flex;
    align-content: start;
    padding: 16px 0px 16px 59px;
}
.John-Smith {
    margin-top: 30px;
    margin-right: 20px;
    /*width: 100px;*/
    /*height: 70px;*/
    display: flex;
    align-content: end;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 1000;
    font-size: 14px;
    line-height: 24px;
    color: #303030;
}
.profile {

    display: flex;

}
.profile-icon{
    height: 80px;
    margin-right: 54px;
    margin-top: 25px;
    width: 36px;
    height: 36px;
    display: flex;
}
.body{
    min-height: 100vh;
    width: 100%;
    display: flex;
}
.sidebar {
    margin-top: 80px;
    background-color: #FFFFFF;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    display: flex;
    background-color: #FFFFFF;
    min-height: 100vh;
    width: 140px;
}

.group-person{
    margin-top: 32px;
    width: 24px;
    height: 24px;

}
.active{
    width: 38px;
    height: 18px;
    font-weight: 1000;
    font-size: 12px;
    text-decoration: none;
    color: #E4163A;
    font-family: 'Avenir';
    font-style: normal;
}
.passive{
    width: 38px;
    height: 18px;
    font-weight: 1000;
    font-size: 12px;
    text-decoration: none;
    color: #9C9C9C;
    font-family: 'Avenir';
    font-style: normal;
}
.left-menu{
    align-items: center;
    display: flex;
    flex-direction: column;
}
.sign-out {
    color: #FF768E;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    width: 48px;
    height: 71px;
    font-weight: 1000;
    font-family: 'Avenir';
    font-style: normal;
}
.back-button{
    margin-left: 11px;
    width: 24px;
    height: 24px;
}
.content {
    width: 100%;
    flex-direction: column;
    display: flex;
    height: 100%;
    background-color: #F6F6F6;
}
.main{
    border-radius: 15px;
    flex-direction: column;
    align-content: center;
    align-items: center;
    align-self: center;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    margin: 139px 372px 154.5px 372px;
    width: 556px;
    height: 570px;
}
.empty-photo{
    margin: 79px 88px;
}
@font-face{
    font-family: Avenir;
    src: url("avenir_ff/AvenirLTStd-Book.otf");
    src: local(Avenir), url(avenir_ff/AvenirLTStd-Book.otf);
}

.search-add{
    margin: 80px 80px 32px 80px;
    justify-content: space-between;
    display: flex;
    height: 40px;

}
.search{

    margin-top: 32px;
    font-family: 'Avenir';
    font-style: normal;
    color: #707070;
    padding-left: 12px;
    background-repeat: no-repeat;
    background-position: 338px 12px, right;
    background-image: url("../img/search.svg");
    outline: none;
    border: none;
    width: 364px;
    height: 40px;
    background-color: #FFFFFF;
    border-radius: 4px;

}
input:hover{
    background-color: #D1D1D1;
}
input:focus{
    box-shadow: 0px 0px 5px #D9D9D9;
}
.add{
    padding-right: 24px;
    background-repeat: no-repeat;
    background-position: 70px 12px, right;
    background-image: url("../img/add.svg");
    margin: 30px 80px;
    border: none;
    width: 104px;
    height: 40px;
    background-color: #E4163A;
    border-radius: 4px;
    margin-bottom: 24px;
    color: #F5FBFF;
}
.add:hover{
    background-color: #FF5761;
}
.add:active{
    background-color: #C60E2E;
}


.navigation{
    margin-left: 130px;
    align-content: center;

    height: 40px;
    display: flex;
    gap: 28px;
}
.number-list{
    display: flex;
    align-content: center;
    text-decoration: none;
    border-radius: 4px;
    font-size: 14px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    color: #707070;
    width: 40px;
    height: 40px;
}
.number-list:active{
    color: #FFFFFF;
    text-decoration: none;
    background-color: #E4163A;
}
a{
    margin: 10px 16px 0 16px;
}


.red-number{
    color: #FF5761;
}
.text-a{
    text-decoration: none;
    color: #FFFFFF;
}
.empty-here-text{
    
    font-style: normal;
    font-family: Avenir;
    font-size:36px;   
    color: #FF768E;
}
.new-teams-text{
    font-style: normal;
    font-family: Avenir;
    font-size:24px;   
    color: #707070;
    font-family: Avenir;
}
