html{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
body {
    background-color: #F6F6F6;;
    width: 100%;
    height: 100%;
    /*margin: 0px;*/
    padding: 0px;
    margin: 0px;
}
/*.player{*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/
.header{
    position: absolute;
    background-color: #FFFFFF;
    width: 100%;
    justify-content: space-between;
    display: flex;
    height: 80px;
    box-shadow: 0px 1px 10px 0px #D1D1D180;
}
.logo-big3 {
    display: flex;
    align-content: start;
    padding: 16px 0px 16px 59px;
}
.John-Smith {
    margin-top: 30px;
    margin-right: 20px;
    /*width: 100px;*/
    /*height: 70px;*/
    display: flex;
    align-content: end;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 1000;
    font-size: 14px;
    line-height: 24px;
    color: #303030;
}
.profile {

    display: flex;

}
.profile-icon{
    height: 80px;
    margin-right: 54px;
    margin-top: 25px;
    width: 36px;
    height: 36px;
    display: flex;
}
.body{
    min-height: 100vh;
    width: 100%;
    display: flex;
}
.sidebar {
    margin-top: 80px;
    background-color: #FFFFFF;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    display: flex;
    background-color: #FFFFFF;
    min-height: 100vh;
    width: 140px;
}

.group-person{
    margin-top: 32px;
    width: 24px;
    height: 24px;

}
.teams{
    width: 38px;
    height: 18px;
    font-weight: 1000;
    font-size: 12px;
    text-decoration: none;
    color: #E4163A;
    font-family: 'Avenir';
    font-style: normal;
}
.players{
    width: 38px;
    height: 18px;
    font-weight: 1000;
    font-size: 12px;
    text-decoration: none;
    color: #9C9C9C;
    font-family: 'Avenir';
    font-style: normal;
}
.left-menu{
    align-items: center;
    display: flex;
    flex-direction: column;
}
.sign-out {
    color: #FF768E;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    width: 48px;
    height: 71px;
    font-weight: 1000;
    font-family: 'Avenir';
    font-style: normal;
}
.back-button{
    margin-left: 11px;
    width: 24px;
    height: 24px;
}
.content {
    flex-direction: column;
    display: flex;
    height: 100%;
    background-color: #F6F6F6;
}
@font-face{
    font-family: Avenir;
    src: url("avenir_ff/AvenirLTStd-Book.otf");
    src: local(Avenir), url(avenir_ff/AvenirLTStd-Book.otf);
}

.search-add{
    justify-content: space-between;
    display: flex;
    height: 40px;
    width: 100%;
}
.search{
    margin: 30px 80px;
    font-family: 'Avenir';
    font-style: normal;
    color: #707070;
    padding-left: 12px;
    background-repeat: no-repeat;
    background-position: 338px 12px, right;
    background-image: url("../img/search.svg");
    outline: none;
    border: none;
    width: 364px;
    height: 40px;
    background-color: #FFFFFF;
    border-radius: 4px;

}
input:hover{
    background-color: #D1D1D1;
}
input:focus{
    box-shadow: 0px 0px 5px #D9D9D9;
}
.add{
    padding-right: 24px;
    background-repeat: no-repeat;
    background-position: 70px 12px, right;
    background-image: url("../img/add.svg");
    margin: 30px 80px;
    border: none;
    width: 104px;
    height: 40px;
    background-color: #E4163A;
    border-radius: 4px;
    margin-bottom: 24px;
    color: #F5FBFF;
}
.add:hover{
    background-color: #FF5761;
}
.add:active{
    background-color: #C60E2E;
}
.main{
    align-self: center;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 64px 80px 0 80px;
    gap: 30px;
    display: flex;
    width: 80%;
}
.content-block{
    width: 364px;
    height: 380px;
    background: linear-gradient(121.57deg, #707070 1.62%, #393939 81.02%);
    border-radius: 4px;
}
.teams-photo{
    margin: 65px 107px;
}
.teams-inf{
    border-radius: 0px 0px 4px 4px;
    display: flex;
    align-content: center;
    flex-direction: column;
    height: 100px;
    background-color: #303030;
}
.teams-name{
    align-self: center;
    margin: 21.5px 82px 0px;
    color: #FFFFFF;
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
}
.teams-data{
    margin-top: 7.5px;
    align-self: center;
    color: #9C9C9C;
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
}
.navigation{
    margin-left: 130px;
    align-content: center;
    margin-top: 42px;
    height: 40px;
    display: flex;
    gap: 28px;
}
.number-list{
    display: flex;
    align-content: center;
    text-decoration: none;
    border-radius: 4px;
    font-size: 14px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    color: #707070;
    width: 40px;
    height: 40px;
}
.number-list:active{
    color: #FFFFFF;
    text-decoration: none;
    background-color: #E4163A;
}
a{
    margin: 10px 16px 0 16px;
}
@media screen and (max-width: 1280px){
    body{
        height: 100%;
        width: 100%;
    }
    .content{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }
    .header{
        align-items: center;
        position: absolute;
        background-color: #FFFFFF;
        width: 100%;
        justify-content: space-between;
        display: flex;
        height: 80px;
        box-shadow: 0px 1px 10px 0px #D1D1D180;
    }
    .profile{
        display: none;
    }
    .add{
        display: none;
    }
    .sidebar{
        display: none;
    }
    .logo-big3{
        margin: 14px 119px;
        align-self: center;
        width: 33.33%;
        height: 50%;

    }


}