body {

    padding: 0;
    margin: 0;

}

.sign-in {
    height: 100vh;
    align-items: stretch;
    display: flex;
}
.left {
    margin: auto;
    align-content: center;
    width: 33.33%;

}
.form {

    margin-left:  auto;
    margin-right:  auto;
    width: 366px;
    /*border: 1px solid red;*/
}
.right {
    display: flex;
    align-content: center;
    width: 66.66%;
    background-color: #F5FBFF;
}
.imgbg {
    width: 605px;
    margin: auto;
}
@media screen and (max-width: 1200px){
    .right{

        display: none;
    }
    .left {
        height: 100vh;
        width: 100vh;
        margin: auto;
        display: flex;
        align-content: center;
    }
    .form{
        flex-direction: column;
        margin: auto;
        display: flex;
        align-content: center;
    }
    .sign-in{
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-content: center;
    }
}

.sign {
    font-family: Avenir;
    font-style: normal;
    padding-bottom: 32px;
    font-size: 36px;
    color: #344472;
}
.header {
    font-family: Avenir;
    font-style: normal;
    padding-bottom: 8px;
    font-size: 14px;
    color: #707070;
}
.entry-field {
    padding-left: 12px;
    outline: none;
    border: none;
    width: 354px;
    height: 40px;
    background-color: #F6F6F6;
    border-radius: 4px;
    margin-bottom: 30px;
}
.entry-field2 {
    padding-left: 12px;
    background-repeat: no-repeat;
    background-position: 338px 12px, right;
    background-image: url("../img/icon/close_eye.svg");
    outline: none;
    border: none;
    width: 354px;
    height: 40px;
    background-color: #F6F6F6;
    border-radius: 4px;
    margin-bottom: 30px;
}

.accept{
    display: flex;
    gap: 10px;
    margin-bottom: 24px;
    border-radius: 2px;
    color: #707070;
}
span{

    margin-top: 1px;
    color: #707070;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
}
.eye-button{
    border: none;
    box-decoration: none;
    background-color: #FFFFFF;
}
.red-bottom {

    /*display: flex;*/
    /*align-content: center;*/
    border: none;
    text-align: center;
    line-height: 36px;
    width: 366px;
    height: 42px;
    background-color: #E4163A;
    border-radius: 4px;
    margin-bottom: 24px;
    color: #F5FBFF;
}
@font-face{
    font-family: Avenir;
    src: url("avenir_ff/AvenirLTStd-Book.otf");
    src: local(Avenir), url(avenir_ff/AvenirLTStd-Book.otf);
}
.rem-password {
    font-family: Avenir;
    font-style: normal;
    text-align: center;
    color: #707070;
    font-size: 14px;
}
a{
    font-family: Avenir;
    font-style: normal;
    color: #FFFFFF;
}
input:hover{
    background-color: #D1D1D1;
}
input:focus{
    box-shadow: 0px 0px 5px #D9D9D9;
}
.red-bottom:hover{
    background-color: #FF5761;
}
.red-bottom:active{
    background-color: #C60E2E;
}
.text-rem-password {

    font-family: Avenir;
    font-style: normal;
    color: #C60E2E;
}


