.block-person{
    flex-direction: column;
    display: flex;
    width: 1140px;
    margin-top: 112px;
    height: 50%;
    border-radius: 10px 10px 0px 0px;
}
.up-block{
    justify-content: space-between;
    display: flex;
    background-color: #FFFFFF;
    height: 69px;
    border-radius: 10px 10px 0px 0px;
}
.down-block{
    display: flex;
    margin-bottom: 24px;
    width: 1140px;
    background: linear-gradient(276.45deg, #393939 0%, #707070 100.28%);
    border-radius: 0px 0px 10px 10px;
}
.denver-info{
    display: flex;
    flex-direction: column;
}
.name{
    margin-bottom: 40px;
    margin-top: 65px;
    color: #FFFFFF;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
}
.player-name{
    font-size: 14px;
    color: #707070;
}
.position{
    font-size: 12px;
    color: #9C9C9C;
}
.ph-greg{
    margin-top: 94px;
    margin-bottom: -20px;
    margin-right: 57px;
}
.r{
    display: flex;
    flex-direction: column;
}
.age{
    margin-bottom: 65px;
    display: flex;
    flex-direction: column;
}
.up-info1{

    margin-bottom: 8px;
    color: #FFFFFF;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
}
.up-info2{
    margin-bottom: 8px;
    margin-top: 54px;
    color: #FFFFFF;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
}
.down-info{
    color: #FFFFFF;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
}
.year-division{
    gap: 177px;
    display: flex;

}
.year-division1{
    gap: 195px;
    display: flex;

}
.table-block{

    margin-bottom: 19px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #707070;
    background-color: #FFFFFF;
    flex-direction: column;
    display: flex;
    width: 1140px;
    height: 50%;
    border-radius: 10px;
}

.th{

    height: 40px;
    padding-left: 32px;
    width: 100%;
    background-color: #FFFFFF;
}
table{
    border: solid 0.5px #9C9C9C;
    padding-left: 32px;
}
.tr{
    color: #707070;
    height: 40px;
    width: 1140px;
    /*padding-left: 32px;*/
    border: solid 2px #9C9C9C;
}
.photo-name{
    display: flex;
    gap: 16px;
}
.roster{
    border: solid 0.5px #9C9C9C;
    padding-left: 32px;
    border-radius: 10px 10px 0px 0px;
    padding: 14px 0px 14px 32px;
    color: #707070;
    background-color: #FFFFFF;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
}
.card-photo{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.red-text{
    float: left;
    margin-left: 32px;
    margin-top: 24px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #E4163A;
}
.icons{
    gap: 16px;
    margin: 24px 32px 24px 0px;
    display: flex;
    float: right;
}
.gray{
    color: #9C9C9C;
}
.ph-denver{
    margin: 97px 146px 97px 146px;
}
.red-number{
    color: #FF5761;
}
@font-face{
    font-family: Avenir;
    src: url("avenir_ff/AvenirLTStd-Book.otf");
    src: local(Avenir), url(avenir_ff/Avenir_Medium.ttf);
}
body {
    background-color: #F6F6F6;
    padding: 0px;
    margin: 0px;
}
.header {
    position: absolute;
    background-color: #FFFFFF;
    width: 100%;
    justify-content: space-between;
    display: flex;
    height: 80px;
    box-shadow: 0px 1px 10px 0px #D1D1D180;
}
.logo-big3 {
    display: flex;
    align-content: start;
    padding: 16px 0px 16px 59px;
}
.John-Smith {
    margin-top: 30px;
    margin-right: 20px;
    display: flex;
    align-content: end;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 1000;
    font-size: 14px;
    line-height: 24px;
    color: #303030;
}
.profile {
    display: flex;
}
.profile-icon{
    height: 80px;
    margin-right: 54px;
    margin-top: 25px;
    width: 36px;
    height: 36px;
    display: flex;
}
.body{
    min-height: 100vh;
    width: 100%;
    display: flex;
}
.sidebar {
    margin-top: 80px;
    background-color: #FFFFFF;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    display: flex;
    background-color: #FFFFFF;
    min-height: 100vh;
    width: 140px;
}

.group-person{
    margin-top: 32px;
    width: 24px;
    height: 24px;
}
.active{
    font-weight: 1000;
    font-size: 12px;
    text-decoration: none;
    color: #E4163A;
    font-family: 'Avenir';
    font-style: normal;
}
.passive{
    font-weight: 1000;
    font-size: 12px;
    text-decoration: none;
    color: #9C9C9C;
    font-family: 'Avenir';
    font-style: normal;
}
.left-menu{
    align-items: center;
    display: flex;
    flex-direction: column;
}
.at-button{
    padding-top: 35px;
    margin: 32px  0px 40px 0px;
    display: flex;
    flex-direction: column;
    color: #E4163A;
    font-weight: 1000;
    font-family: 'Avenir';
    text-decoration: none;
    font-style: normal;
    font-size: 12px;
    background-position: center;
    align-self: center;
    align-items: center;
    background-repeat: no-repeat;
    background-image: url("../img/icon/group_person-active.svg");
    background-color: #FFFFFF;
    border: none;
    outline: none;
    width: 40px;
    height: 40px;
}
.ap-button{
    padding-top: 35px;
    display: flex;
    flex-direction: column;
    color: #E4163A;
    font-weight: 1000;
    font-family: 'Avenir';
    text-decoration: none;
    font-style: normal;
    font-size: 12px;
    background-position: center;
    align-self: center;
    align-items: center;
    background-repeat: no-repeat;
    background-image: url("../img/icon/person-active.svg");
    background-color: #FFFFFF;
    border: none;
    outline: none;
    width: 40px;
    height: 40px;
}
.pp-button{
    padding-top: 35px;
    display: flex;
    flex-direction: column;
    color: #9C9C9C;
    font-weight: 1000;
    font-family: 'Avenir';
    text-decoration: none;
    font-style: normal;
    font-size: 12px;
    background-position: center;
    align-self: center;
    align-items: center;
    background-repeat: no-repeat;
    background-image: url("../img/icon/person-passive.svg");
    background-color: #FFFFFF;
    border: none;
    outline: none;
    width: 40px;
    height: 40px;
}
.pt-button{
    margin: 32px  0px 40px 0px;
    padding-top: 35px;
    display: flex;
    flex-direction: column;
    color: #9C9C9C;
    font-weight: 1000;
    font-family: 'Avenir';
    text-decoration: none;
    font-style: normal;
    font-size: 12px;
    background-position: center;
    align-self: center;
    align-items: center;
    background-repeat: no-repeat;
    background-image: url("../img/icon/group_person-passive.svg");
    background-color: #FFFFFF;
    border: none;
    outline: none;
    width: 40px;
    height: 40px;
}

.sign-out {
    color: #FF768E;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    width: 48px;
    height: 71px;
    font-weight: 1000;
    font-family: 'Avenir';
    font-style: normal;
}
.back-button{
    margin-left: 11px;
    width: 24px;
    height: 24px;
}
.content {
    align-items: center;
    align-content: center;
    width: 100%;
    flex-direction: column;
    display: flex;
    height: 100%;
    background-color: #F6F6F6;
}

input:hover{
    background-color: #D1D1D1;
}
input:focus{
    box-shadow: 0px 0px 5px #D9D9D9;
}
.add:hover{
    background-color: #FF5761;
}
.add:active{
    background-color: #C60E2E;
}
.main{
    justify-content: space-between;
    align-self: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 64px 80px 0 80px;
    gap: 30px;
    display: flex;
    width: 80%;
}
a{
    margin: 10px 16px 0 16px;
}
@media screen and (max-width: 1280px){
    body{
        height: 100%;
        width: 100%;
    }
    .content{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }
    .header{
        align-items: center;
        background-color: #FFFFFF;
        width: 100%;
        justify-content: space-between;
        display: flex;
        height: 80px;
        box-shadow: 0px 1px 10px 0px #D1D1D180;
    }
    .profile{
        display: none;
    }
    .add{
        display: none;
    }
    .sidebar{
        display: none;
    }
    .logo-big3{
        margin: 14px 119px;
        align-self: center;
        width: 33.33%;
        height: 50%;
    }
}
.players-photo{
    margin: 73px 45px -5px 45px;
}
.red-number{
    color: #FF5761;
}
.text-a{
    text-decoration: none;
    color: #FFFFFF;
}
.denver-info{
    display: flex;
    flex-direction: column;
}